spring:
  datasource:
      url: jdbc:h2:mem:testdb
      driver-class-name: org.h2.Driver
      username: sa
      password: 
  h2:
    console:
      path: /h2-console
      enabled: false
  jpa:
    hibernate:
      ddl-auto: create-drop 
    show-sql: false
    open-in-view: false 

application:
  cors:
    allowed: "*"
    time: 3600
 
influx:
  url: ${INFLUX_URL}
  token: ${INFLUX_TOKEN}
  org: ${INFLUX_ORG}
  bucket: ${INFLUX_BUCKET}
    
mqtt:
  url: ${MQTT_URL}
    